@charset "utf-8"

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

$family-primary: 'Inter', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

// $size-7: 0.875rem

$radius: 2.8px

$control-height: 2.5em
$control-line-height: 1.25
$control-border-width: 0.090rem

$input-focus-border-size: 0.125rem
// $input-focus-box-shadow-size: 0 0 0 0

// $button-padding-horizontal: 0.5rem
// $button-focus-box-shadow-size: 0 0 0 0

// $box-shadow: none
$box-radius: $radius

// $section-padding: 3rem 1.5rem

@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
