$button-text-decoration: none

@import "node_modules/bulma/sass/elements/button.sass"

.button
  @extend .has-text-weight-bold
  @extend .is-small

  &.is-rounded
    padding-left: $button-padding-horizontal
    padding-right: $button-padding-horizontal
